@charset "utf-8";
/* CSS Document */


/* 全体 */
*{
    border: 0px solid red;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
a{
    text-decoration: none;
}

/* ヘッダーブロック */
.headerbrock{
    width: auto;
    height: 100px;
    background-color: #000080;
}

/* 親親 */
.hypermainbrock{
    padding: 0px 0px 0px calc((100% - 1000px) /2);
    width: 100%;
    height: 100px;
    background-color: #FF99CC;
}
/* 親 */
.supermainbrock{
    width: 1000px;
    height: 1000px;
    background-color: #FF99FF;
}
/* サイドブロック */
.sidebrock{
    width: 200px;
    height: 200px;
    background-color: #008080;
    display: inline-block;
}
.usericon{
    margin: 7px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFFF;
}





/* メインブロック */
.mainbrock{
    width: 800px;
    height: 1000px;
    background-color: #6633FF;
    display: inline-block;
}
.maincontents{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    border: 10px double #FFFFFF;
    border-radius: 10px;
    background-color: #FF9900;
}
.title{
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}


/* 検索ブロック */
.searchbrock{
    padding: 10px;
    background-color: #FF33FF;
}
/* 検索バー */
.searchbar{
    margin-left: 400px;
    width: 320px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.searchtext{
    margin: 3px 0px 0px 10px;
    font-size: 16px;
    background-color: #FFFFFF;
}
.searchbutton{
    margin: 3px 0px 0px 0px;
    border: 0px;
    width:16px;
    height:16px;
    background: url(../img/searchicon.png) left top no-repeat;
}







.roombrock1{
    padding: 10px;
    width: 180px;
    background-color: #339933;
    display: inline-block;
}
.roombrock2{
    width: 500px;
    background-color: #99FF33;
    display: inline-block;
}
.roomicon{
    width: 180px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.roomtitle{
    margin: 10px 0px 0px 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 900;
}
.inroombutton{
    margin: 0px 0px 0px 360px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    background-color: #000088;
    display: inline-block;
}