@charset "utf-8";
/* CSS Document */


/* 全体 */
*{
    border: 0px solid red;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
a{
    text-decoration: none;
}
body{
    background:url("../mypage_image/back_A.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgb(50, 230, 170);
}

/* ヘッダーブロック */
.headerbrock{
    width: auto;
    height: 100px;
    background:url("../mypage_image/back_B.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgb(50, 230, 170);
}

.logo{
    height: 100px;
}

/* 親親 */
.hypermainbrock{
    padding: 0px 0px 0px calc((100% - 1000px) /2);
    width: 100%;
    height: 100px;
}
/* 親 */
.supermainbrock{
    width: 1000px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
}
/* サイドブロック */
.sidebrock{
    width: 200px;
    height: auto;
    display: inline-block;
}
.usericon{
    margin: 7px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFFF;
}


.title{
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}

/* ユーザーブロック */
.userbrock{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    border: 10px double #FFFFFF;
    border-radius: 10px;
    background-color: #FF9900;
}
.userbrock div{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    border: 10px double #FFFFFF;
    border-radius: 10px;
    background-color: #FF9900;
}
/* ルーム新規作成ボタン */
.createroombutton{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    border: 10px double #FFFFFF;
    border-radius: 10px;
    background-color: #FF0000;
}




/* メインブロック */
.mainbrock{
    width: 800px;
    height: auto;
    display: inline-block;
}

/* 検索ブロック */
.searchbrock{
    padding: 10px;
    background-color: #FF9900;
}
/* 検索バー */
.searchbar{
    margin-left: 400px;
    width: 320px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.searchtext{
    margin: 3px 0px 0px 10px;
    font-size: 16px;
    background-color: #FFFFFF;
}
.searchbutton{
    margin: 3px 0px 0px 0px;
    border: 0px;
    width:16px;
    height:16px;
    background: url(../img/searchicon.png) left top no-repeat;
}

/* メインコンテンツ */
.maincontents{
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    border: 10px double #FFFFFF;
    border-radius: 10px;
    background-color: #FF9900;
}
.roombrock1{
    padding: 10px;
    width: 180px;
    background-color: #FF9900;
    display: inline-block;
}
.roombrock2{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 480px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: inline-block;
}
.roomicon{
    width: 180px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.roomtitle{
    margin: 10px 0px 0px 10px;
    color: #FF9900;
    font-size: 20px;
    font-weight: 900;
}
.inroombutton{
    margin: 0px 0px 0px 360px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    background-color: #000088;
    display: inline-block;
}