@import url(sanitize.css);

.jumbotron {
	background:url(../mypage_image/back_A.png) center no-repeat;
	background-size: cover;
}

.container {
	font-size: 18px;
	/*background-color: rgb(50, 230, 170);*/
 	/*background-size: cover;*/
 	background-attachment: fixed;
    background-position: center center;
    /*margin: 90px;*/
}

.content {
	color: white;
	font-size: 1.0em;
}

h1 {
	font-size: 2.0em;
	text-align: center;
}

h3 {
	font-size: 1.0em;
	text-align: center;
}

.row {
	background-color: rgb(225, 225 ,225, 0.55);
	width: auto;
	margin: 30px auto;
	border: 5px solid #d1d1d1;
	padding: 50px;
	text-align: center;
}

.control {
	text-align: left;
	margin-bottom: 1em;
}

.control2 {
	text-align: center;
}

.control3 {
	background-color: gray;
	/*margin: 10px auto;*/
}

#box {
	text-align: center;
	padding: auto;
	background-color: rgb(225, 225 ,225, 0.55);
	width: auto;
	margin: 10px auto;
	border: 5px solid #d1d1d1;
	/*padding: 50px;*/
}

input {
	border-bottom: 3px solid #d1d1d1;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 1.0em;
	width: 100%;
	padding: 10px;
}

button {
	width: 30%;
	background-color: #2096F3;
	color: #fff;
	padding: 16px;
	border-radius: 22px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .4)
}

label {
	display: block;
	margin-bottom: .8em;

}
.required {
	margin-left: 0.3em; /* 左の余白を0.3em(1文字の30%)に */
	color: #f33; /* 文字の色を#f33に */
	font-size: 0.8em; /* フォントサイズを0.8em(1文字の80%)に */
	padding: 3px; /* 要素内余白を3pxに */
	background-color: #fee; /* 背景色を#feeに */
	font-weight: bold;
}


