@charset "utf-8";

* {
	font-family: 'Noto Sans JP', sans-serif;
	font-size : 20px;
	font-weight : bold;
	/*color : black;*/
	color : white;
	margin : 0;
	padding : 0;
	border:solid 0px;
	/*border : dotted 1px #FF6600;/*ガイドライン*/
}
body{
	background-image: url('../mypage_image/back_A.png');
}

#main-wrap{
	margin:50px auto;
	/*border: 1px solid White;*/
}
.box1 {
	float: left;
	margin: 0 0 10px 10px;
}

.box2 {
	float: right;
	margin: 10px 10px 0 0;
}
#text{
	font-weight: bold;
	margin:30px auto;
	border: 5px solid White;
	border-radius:15px;
}
h2{
	margin-bottom:15px;
	text-align:center;
}
#logo{
	margin: 0px auto;
	width:700px;
}
#wrap{
	background-image: url('../img/frame1.png');
	background-size: cover;
	margin: 0px auto;
	padding: 20px;
	width:700px;
	border: 10px solid White;
	border-radius:40px;
	clear:both;
	/*background-color: #f0f0f0;*/
}
#table-wrap{
	margin:0px auto;
	width:400px;
	/*border: 1px solid White;*/
}
.input{
	width:200px;
	background-color: #9DCCE0;
	border-radius:5px;
}
.btn{
	width:100px;
	border-radius:5px;
	background-color: #00bfff;
}
.btn-wrap{
	margin:10px auto;
	border: 3px solid White;
	width:106px;
	border-radius:5px;
}
footer {
	margin-top:200px;
	text-align: center; /* 中央に配置 */
	/*font-size: 0.8em;*/ /* フォントサイズを小さく */

}