header{
	margin-top:30px;/*上に余白を30pxつける*/

}
hr{
	border-width:3px;/*太さを3pxに*/
	border-color:#2E99A9;/*線の色を緑に*/
	margin:30px0;/*上下の余白を30pxに*/
}
h1{
	font-size:18px;/*文字の大きさを18pxに*/
	font-weight:bold;/*文字の太さを太く*/
	margin:0;/*余白をなくす*/
}
@font-face {
	font-family: 'MyFont';
	src: url(moechat_font/ヒラギノ丸ゴ ProN W4.ttc);
}
p{
	font-size:18px;/*文字の大きさを18pxに*/
	font-family: MyFont;
	font-weight: bold;
}
.align-right {/*右寄せ*/
	text-align:right;
}
@media screen and (max-width:1500px) {
	.radio-inline {
		display: block;/*ブロック要素にして改行されるように*/
		margin: 0 !important;/*余白を０に（強制的に）*/
	}
}
#left-menu {
	width: 30%;
	float: left;
	background-color: ;
}

#news1{
	float: none;
	width: 100%;
	height:auto;
	margin-top: 10px;
	margin-bottom: 0px;
}

table{
	width: auto;
	height: auto;
	margin-left: 70px;
	clear: none;
	float: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: 850px;
    bottom: 155px;
}
.box_left {
    width:200px;
    height:100px;
    margin-left:10px;
    float:left;
}
.box_wrap {
    width:500px;
    height:auto;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}