@charset "shift_Jis";

* {
	font-family : "メイリオ",Merino,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProW3">

	font-size : 12px;
	font-weight : bold;
	color : #00FF00;
	margin : 0;
	padding : 0;

	/*border : dotted 1px #FF6600;/*ガイドライン*/
}

.align-right {/*右寄せ*/
	text-align:right;
}

.align-center {/*中央寄せ*/
	text-align:center;
}

table {
	font-size : 20px;
	table-layout : auto;
	border-collapse : collapse;
	margin : 10px 5px 20px 5px;
}

th,td {
	padding : 5px 10px;
	text-align : left;
}

#container {
	margin : 0 auto 0;
	text-align : center;
}

#contents {
	margin : 0 auto 0;
	text-align : left;
}

header {
	padding : 10px 1px 10px 1px;
}