@charset "shift_Jis";

* {
	font-family: 'Noto Sans JP', sans-serif;
	font-size : 20px;
	font-weight : bold;
	color : #00FF00;
	margin : 10;
	padding : 10;
	border:solid 0px;
	background-image: url("./mypage_image/back_A.png");
	/*border : dotted 1px #FF6600;/*ガイドライン*/
}

.align-right {/*右寄せ*/
	text-align:right;
}

.align-center {/*中央寄せ*/
	text-align:center;
}

.box1 {
  float: left;
}
.box2 {
  float: right;
  margin-top : 10px;
}
.box3 {
  float: left;
}
.box4 {
  float: right;
  width: auto;
}
table {
	font-size : 20px;
	table-layout : auto;
	border-collapse : collapse;
	margin : 10px 5px 20px 5px;
}

th,td {
	padding : 5px 10px;
	text-align : left;
}

.container {
	margin : 20px 0 20px 0;
	text-align : center;
}

img {/*画像の角をまるく*/
    border-radius: 10px;
}
.box3; .box4 {
	background-color:green;
}
