@charset "utf-8";

body{
	/*background-color: green;*/
}

#main-wrap{
	margin:0 auto;
}
#text{
	margin:30px auto;
	border: 1px solid White;
}
h1{
	text-align:center;
}

#wrap{
	margin:50px auto;
	padding: 25px;
	width:650px;
	background-color: #f0f0f0;
}

.input{
	width:400px;
}